<div class="product-container">

  <!-- Search input box Start -->
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search by name"
      aria-label="Search by name" aria-describedby="Search by name">
  </div>
  <!-- Search input box End -->

  <!-- Products Grid Start -->
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let product of products | filter:search:'name'">
      <app-product-list-item [productDetail]="product" (addingToCart)="addTocart($event)"></app-product-list-item>
    </div>
  </div>
  <!-- Products Grid End -->

</div>