<div class="container-fluid">
 <h1>Parent Component</h1> 
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent/child-one" routerLinkActive="active">Child One</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent/child-two" routerLinkActive="active">Child Two</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent/child-three" routerLinkActive="active">Child Three</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
