/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap'); */
/* @import url('https://cdn-titan.nextsphere.com/css/fonts.css'); */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700&display=swap&subset=greek,greek-ext,vietnamese');
body{
    font-family: 'Roboto', sans-serif!important;
}
.link-primary:hover:not(:active){
        text-decoration: underline!important;
    }

.pointer{
    cursor: pointer;
}
.box-shadow-1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.fw-100{
    font-weight: 100;
}
.fw-300{
    font-weight: 300;
}
.fw-500{
    font-weight: 500;
}
.fw-700{
    font-weight: 700;
}